
# all IO-Pins are 3,3V
NET "*"			IOSTANDARD = LVCMOS33;

# ----------------------------------------------------------------------------
# Connections on the Motor Carrier
#NET "servo_p<1>"	LOC = P85;
#NET "servo_p<2>"	LOC = P86;
#NET "servo_p<3>"	LOC = P87;

NET "led_red_p"		LOC = P89;	# RGB LED
NET "led_green_p"	LOC = P90;
NET "led_blue_p"	LOC = P92;
