# Hardware on the carrier board 2013, connected to Loa v2b / v2c board.

# all IO-Pins are 3.3V
NET "*"			IOSTANDARD = LVCMOS33;

# ----------------------------------------------------------------------------
# Servos
# NET "servo_p<0>"	LOC = P;	# At STM32 PA2
# NET "servo_p<1>"	LOC = P;	# At STM32 PA3
NET "servo_p<2>"	LOC = P74;
NET "servo_p<3>"	LOC = P75;

# ----------------------------------------------------------------------------
# iMotors 0 to 4
NET "imotor_tx_p<0>"		LOC = P9;
NET "imotor_rx_p<0>"		LOC = P10;
NET "imotor_tx_p<1>"		LOC = P15;
NET "imotor_rx_p<1>"		LOC = P16;
NET "imotor_tx_p<2>"		LOC = P17;
NET "imotor_rx_p<2>"		LOC = P11;
NET "imotor_tx_p<3>"		LOC = P22;
NET "imotor_rx_p<3>"		LOC = P35;
NET "imotor_tx_p<4>"		LOC = P21;
NET "imotor_rx_p<4>"		LOC = P23;

# ----------------------------------------------------------------------------
# Pumps and Valves

NET "valve_p<0>"		LOC = P118;
NET "valve_p<1>"		LOC = P117;
NET "valve_p<2>"		LOC = P66;
NET "valve_p<3>"		LOC = P78;

NET "pump_p<0>"			LOC = P38;
NET "pump_p<1>"			LOC = P116;
NET "pump_p<2>"			LOC = P80;
NET "pump_p<3>"			LOC = P79;

# ----------------------------------------------------------------------------
# BLDC 0 & 1

NET "bldc0_driver_p_a_high"	LOC = P98;
NET "bldc0_driver_p_a_low"	LOC = P95;
NET "bldc0_driver_p_b_high"	LOC = P97;
NET "bldc0_driver_p_b_low"	LOC = P92;
NET "bldc0_driver_p_c_high"	LOC = P94;
NET "bldc0_driver_p_c_low"	LOC = P93;

NET "bldc0_hall_p_a"		LOC = P138;
NET "bldc0_hall_p_b"		LOC = P134;
NET "bldc0_hall_p_c"		LOC = P120;

NET "bldc0_encoder_p_a"		LOC = P143;
NET "bldc0_encoder_p_b"		LOC = P7;
# NET "bldc0_encoder_p_i"		LOC = P8;

# Odometry encoders
NET "encoder0_p_a"		LOC = P119;
NET "encoder0_p_b"		LOC = P141;
# NET "encoder0_p_i"		LOC = P142;


NET "bldc1_driver_p_a_high"	LOC = P100;
NET "bldc1_driver_p_a_low"	LOC = P99;
NET "bldc1_driver_p_b_high"	LOC = P104;
NET "bldc1_driver_p_b_low"	LOC = P105;
NET "bldc1_driver_p_c_high"	LOC = P102;
NET "bldc1_driver_p_c_low"	LOC = P101;

NET "bldc1_hall_p_a"		LOC = P137;
NET "bldc1_hall_p_b"		LOC = P139;
NET "bldc1_hall_p_c"		LOC = P140;

NET "bldc1_encoder_p_a"		LOC = P1;
NET "bldc1_encoder_p_b"		LOC = P6;
# NET "bldc1_encoder_p_i"		LOC = P2;

# Odometry encoders
NET "encoder1_p_a"		LOC = P5;
NET "encoder1_p_b"		LOC = P14;
# NET "encoder1_p_i"		LOC = P12;

# ----------------------------------------------------------------------------
# DC Motor 0 & 1

NET "dc0_driver_p_a_high"	LOC = P111;
NET "dc0_driver_p_a_low_n"	LOC = P114;
NET "dc0_driver_p_b_high"	LOC = P81;
NET "dc0_driver_p_b_low_n"	LOC = P67;

NET "dc1_driver_p_a_high"	LOC = P82;
NET "dc1_driver_p_a_low_n"	LOC = P115;
NET "dc1_driver_p_b_high"	LOC = P88;
NET "dc1_driver_p_b_low_n"	LOC = P83;

NET "dc2_driver_p_a_high"	LOC = P84;
NET "dc2_driver_p_a_low_n"	LOC = P112;
NET "dc2_driver_p_b_high"	LOC = P85;
NET "dc2_driver_p_b_low_n"	LOC = P87;
