
# all IO-Pins are 3,3V
NET "*"			IOSTANDARD = LVCMOS33;

# ----------------------------------------------------------------------------
# Connections to the STM32F407
NET "cs_np"		LOC = P65;	# <- PA4
NET "sck_p"		LOC = P64;	# <- PA5
NET "miso_p"	LOC = P62;	# -> PA6
NET "mosi_p"	LOC = P61;	# <- PA7
NET "irq_p"	LOC = P60;	# -> PE11

NET "reset_n"	LOC = P57;	# TODO

# P57		# -- PE13
# P59		# -- PE12
# P60		# -- PE11

# P48		# Init B -> PB11 (pullup needed)
# P51		# Din    <- PB10
# P53		# CCLK   <- PE15
# Prog B	(dedicated for configuration) <- PE10
# Done   (dedicated for configuration) -> PE14

# ----------------------------------------------------------------------------
# SRAM
#D0..7
#A0..18
#CE,WE,OE

# ----------------------------------------------------------------------------
# US TX
NET "us_tx0_p_high"	LOC = P93;
NET "us_tx0_p_low"	LOC = P94;
NET "us_tx1_p_high"	LOC = P98;
NET "us_tx1_p_low"	LOC = P99;
NET "us_tx2_p_high"	LOC = P3;
NET "us_tx2_p_low"	LOC = P4;

# ----------------------------------------------------------------------------
# IR TX
NET "ir_tx_p"			LOC = P5;

# ----------------------------------------------------------------------------
# IR RX ADC 1
NET "ir_rx_spi_in_p_sdo"		LOC = P89 | PULLDOWN;
NET "ir_rx_spi_out_p_sck"		LOC = P88 | SLOW | DRIVE = 2;
NET "ir_rx_spi_out_p_conv"		LOC = P86 | SLOW | DRIVE = 2;



# ----------------------------------------------------------------------------
# Clock (connected to a 50 MHz oscillator)
NET "clk"		LOC = P83;
NET "clk"		TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;
